{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
  <main
    style="background-image: url({% static 'img/escheresque_ste.png' %})">

    <section class="jumbotron"
      style="background-image: url({% static 'img/banner2.png' %})">
      <div class="container">
        <h1>Currently showing on iPlayer</h1>
        <p>App built with Python & Django.</p>
      </div>
    </section>

    <section class="container">
      {% if movies %}
        {% for movie in movies %}
          {% include "_movie_panel.html" %}
        {% endfor %}
      {% else %}
        {% include "includes/_messages.html" %}
      {% endif %}
    </section>

  </main>


{% endblock %}
